---
import { Image } from "astro:assets";
import type { Project } from "../types/projects.type";
import type { Lang } from "../types/lang.type";
import { getRelativeLocaleUrl } from "astro:i18n";
import en from "../i18n/en";
import es from "../i18n/es";
import { getBadgeClass } from "../types/projects.type";
interface Props {
	project: Project;
	lang: Lang;
}

const { project, lang } = Astro.props;
const translations: Record<Lang, typeof en> = { es, en };
const t = translations[lang];
---

<div class="bg-base-100 rounded-lg transition ease-in-out hover:scale-[102%] hover:shadow-xl">
	<a href={getRelativeLocaleUrl(lang, `projects/${project.id}`)}>
		<div class="hero-content flex-col md:flex-row">
			<Image
				src={project.image}
				width={750}
				height={422}
				format="webp"
				alt={project.title}
				class="max-w-full rounded-lg md:max-w-[13rem]"
			/>
			<div class="w-full grow">
				<h1 class="text-xl font-bold">
					{project.title}

					{
						project.badge && (
							<div class={`badge mx-2 ${getBadgeClass(project.badge)}`}>{project.badge}</div>
						)
					}
				</h1>
				<p class="text-1xl py-1">{project.description}</p>
				<div class="card-actions justify-end">
					{project.technologies.map((tech) => <span class="badge badge-outline">{tech}</span>)}
				</div>
			</div>
		</div>
	</a>
</div>
