---
import { getLocalePaths, LOCALES, type Lang } from "@/i18n"; // Usa el mismo helper que el otro componente
import { Languages } from "@lucide/astro";
const currentLocale = Astro.currentLocale as Lang;
const localePaths = getLocalePaths(Astro.url);
---

<!-- ðŸŒ Mobile -->
<div class="dropdown dropdown-end lg:hidden">
	<label tabindex="0" class="btn btn-ghost m-0">
		<Languages />
	</label>
	<ul
		tabindex="0"
		class="menu menu-md dropdown-content rounded-box bg-base-200 z-50 w-40 p-4 shadow"
	>
		{
			localePaths.map(({ lang, path }) => (
				<li>
					<button
						class="flex items-center gap-2"
						data-lang={lang}
						data-path={path}
						aria-current={lang === currentLocale ? "page" : undefined}
					>
						<img
							src={`https://flagcdn.com/${LOCALES[lang].flag}.svg`}
							width="20"
							alt={lang}
							class="rounded-sm"
						/>
						<span>{LOCALES[lang].label}</span>
					</button>
				</li>
			))
		}
	</ul>
</div>

<!-- ðŸ–¥ï¸ Desktop -->
<div class="dropdown dropdown-hover dropdown-end hidden lg:block">
	<div tabindex="0" role="button" class="btn btn-ghost m-1">
		<Languages size={18} />
		{LOCALES[currentLocale].label}
	</div>
	<ul tabindex="0" class="dropdown-content menu bg-base-200 rounded-box z-50 w-52 p-2 shadow-sm">
		{
			localePaths.map(({ lang, path }) => (
				<li>
					<button
						class="flex items-center gap-2"
						data-lang={lang}
						data-path={path}
						aria-current={lang === currentLocale ? "page" : undefined}
					>
						<img
							src={`https://flagcdn.com/${LOCALES[lang].flag}.svg`}
							width="20"
							alt={lang}
							class="rounded-sm"
						/>
						<span>{LOCALES[lang].label}</span>
					</button>
				</li>
			))
		}
	</ul>
</div>

<script is:inline>
	document.querySelectorAll("button[data-lang]").forEach((btn) => {
		btn.addEventListener("click", (e) => {
			const lang = btn.dataset.lang;
			const path = btn.dataset.path;
			localStorage.selectedLang = lang;
			window.location.href = path;
		});
	});
</script>
