---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HorizontalCard from "../../components/HorizontalCard.astro";
import type { Lang } from "../../types/lang.type";
import en from "../../i18n/en";
import es from "../../i18n/es";
import { getRecentProjects, projects } from "../../types/projects.type";

const recentProjects = getRecentProjects(3); // Obtener los 6 más recientes
export async function getStaticPaths() {
	return projects.flatMap((project) => [
		{
			params: { id: project.id.toString(), lang: "es" },
		},
		{
			params: { id: project.id.toString(), lang: "en" },
		},
	]);
}

export const defaultLang = "/es";

const lang = Astro.params.lang as Lang;
const translations: Record<Lang, typeof en> = { es, en };
const t = translations[lang];
---

<BaseLayout sideBarActiveItemID="home" lang={lang}>
	<div class="mt-5 pb-12">
		<div class="py-1 text-xl">{t.home.title}</div>
		<div class="text-4xl font-bold">{t.home.subtitle}</div>
		<div class="py-3 text-xl font-light">{t.home.position}</div>
		<div class="py-2">
			<text class="text-lg font-bold">
				{t.home.descriptionTitle}
			</text>
		</div>
		<div class="py-2">
			<text class="text-lg">
				{t.home.descriptionSubTitle}
			</text>
		</div>
	</div>

	<div>
		<div class="mb-2 w-full text-3xl font-bold">{t.home.lastProjectsTitle}</div>
	</div>
	<main class="container mx-auto px-4 py-8">
		<div class="grid grid-cols-1 gap-6">
			{recentProjects.map((project) => <HorizontalCard project={project} lang={lang} />)}
		</div>
	</main>
</BaseLayout>
