---
import BaseLayout from "./BaseLayout.astro";
import { useTranslations, type Lang } from "@/i18n";
const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

interface Props {
	title: string;
	image?: string;
	badge?: string;
	technologies: string[];
	frontmatter?: undefined;
	links?: {
		demo?: string;
		github?: string;
		live?: string;
	};
}

const { title, image, badge, technologies, links } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title} sideBarActiveItemID="projects">
	<article class="prose max-w-none">
		<h1>{title}</h1>

		{badge && <div class="badge">{badge}</div>}

		{image && <img src={image} alt={title} class="my-4 rounded-lg shadow-lg" />}

		<section class="mb-4">
			<h2 class="text-xl font-semibold">{t({ es: "Tecnologías", en: "Technologies" })}</h2>
			<div class="flex flex-wrap gap-2">
				{technologies.map((tech) => <span class="badge badge-outline">{tech}</span>)}
			</div>
		</section>

		{
			(links?.demo || links?.github || links?.live) && (
				<section class="mb-4">
					<h2 class="text-xl font-semibold">Enlaces</h2>
					<ul class="list-inside list-disc">
						{links?.demo && (
							<li>
								<a href={links.demo} class="link">
									{links.demo}
								</a>
							</li>
						)}
						{links?.github && (
							<li>
								<a href={links.github} class="link">
									{links.github}
								</a>
							</li>
						)}
						{links?.live && (
							<li>
								<a href={links.live} class="link">
									{links.live}
								</a>
							</li>
						)}
					</ul>
				</section>
			)
		}

		<slot />
	</article>
</BaseLayout>
